*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #cacaca;
    border-radius: 50px;
}
h1{
    font-size: 50px;
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}
.container{
    text-align: center;
    max-width: 900px;
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.4);
}
.text-area{
    text-align: center;
    font-size: 25px;
    color: darkslategray;
    line-height: 1.5;
}
.content .author{
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #00a7b3;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}
#quote-btn {
    margin: 30px;
    font-size: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 40%;
    transition: all .9s;
    height: 50px;
    border-radius: 50px;
}

button:hover {
    background-color: #0056b3;
    width: 70%;
    transition: all .8s;
}

p{
    color: #27cbcb;
}

